/* 
Color pallete. This section defines variables for the color pallete,
so that we can refer to particular colors by name instead of hexadecimal values.
This is applied to the 'root' psuedo-element, which just means that these color
variables are available to be used anywhere in our html document
*/
:root {
    --color1: #D1C6AD;
    --color2: #BBADA0;
    --color3: #A1869E;
    --color4: #757996;
    --color5: #0B1D51;
    --white-font: #FFFFFF;
    --black-font: #000000;
}

/* Defines the main container size, we are limiting to 1140px max and centring in the viewport */
.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Inter;
    color: var(--white-font);
}

/* Here we define the aspects of style of our elements other than their grid layout */
.banner {
    background-color: var(--color4);
    min-height: 8em;
    padding: 1em;
}

.banner-title {
    font-size: 3em;
}

.banner-subtitle {
    font-size: 2em;
    padding-left: 2px;
    padding-top: 4px;
}

.team-member-card-panel {
    display: contents;
}

.team-member-card {
    min-height: 32em;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;
}

.team-member-card-image {
    max-width: 100%;
}

.team-member-card-blurb {
    padding: 1em;
}


.our-clients-title {
    background-color: var(--color2);
    color: var(--color4);
    font-size: 3em;
    text-align: center;
    padding: 0.5em;
    border-radius: 1em;
}

.client-icon {
    width: 100%;
}


/* now we create names for the grid areas for specific elements */
#banner {
    grid-area: bn1;
}

#teamMemberCard1 {
    grid-area: tm1;
}

#teamMemberCard2 {
    grid-area: tm2;
}

#teamMemberCard3 {
    grid-area: tm3;
}

#ourClientsTitle {
    grid-area: ct1;
}

#contactUs {
    grid-area: cu1;
}

#clientIcon1 {
    grid-area: ci1;
}

#clientIcon2 {
    grid-area: ci2;
}

#clientIcon3 {
    grid-area: ci3;
}

#clientIcon4 {
    grid-area: ci4;
}

#clientIcon5 {
    grid-area: ci5;
}

#clientIcon6 {
    grid-area: ci6;
}

#clientIcon7 {
    grid-area: ci7;
}

#clientIcon8 {
    grid-area: ci8;
}

/* Use a flexible layout grid */
.main-container {
    display: grid;
    column-gap: 1em;
}
  
/* 
Responsive Layout breakpoints. We start 'mobile-first' i.e. we define how the layout should look
for the smallest screen sizes. In this case we want a single column that spans the main container.
Because this CSS definition comes first, it will apply by default. Then we override it below with 
media queries for progressively bigger screen widths
*/
.main-container {
    grid-template:
        "bn1 bn1 bn1 bn1" minmax(8em, auto)
        " .   .   .   . " minmax(2em, auto)
        "tm1 tm1 tm1 tm1" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)
        "tm2 tm2 tm2 tm2" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)
        "tm3 tm3 tm3 tm3" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)
        "ct1 ct1 ct1 ct1" minmax(4em, auto)
        " .   .   .   . " minmax(2em, auto)
        "ci1 ci1 ci2 ci2" minmax(8em, auto)
        " .   .   .   . " minmax(1em, auto)
        "ci3 ci3 ci4 ci4" minmax(8em, auto)
        " .   .   .   . " minmax(1em, auto)
        "ci5 ci5 ci6 ci6" minmax(8em, auto)
        " .   .   .   . " minmax(1em, auto)
        "ci7 ci7 ci8 ci8" minmax(8em, auto)
}
    


@media (min-width: 50em) and (max-resolution: 2dppx) {
       .main-container {
        grid-template:
        "bn1 bn1 bn1 bn1 bn1 bn1 bn1 bn1" minmax(8em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        "tm1 tm1 tm1 tm1 tm2 tm2 tm2 tm2" minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .   .  tm3 tm3 tm3 tm3  .   . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        "ct1 ct1 ct1 ct1 ct1 ct1 ct1 ct1" minmax(4em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        "ci1 ci1 ci1 ci1 ci2 ci2 ci2 ci2" minmax(8em, auto)
        " .   .   .   .   .   .   .   . " minmax(1em, auto)
        "ci3 ci3 ci3 ci3 ci4 ci4 ci4 ci4" minmax(8em, auto)
        " .   .   .   .   .   .   .   . " minmax(1em, auto)
        "ci5 ci5 ci5 ci5 ci6 ci6 ci6 ci6" minmax(8em, auto)
        " .   .   .   .   .   .   .   . " minmax(1em, auto)
        "ci7 ci7 ci7 ci7 ci8 ci8 ci8 ci8" minmax(8em, auto)   
    }
}



@media (min-width: 75em) and (max-resolution: 2dppx) {
    .main-container {
        grid-template:
        "bn1 bn1 bn1 bn1 bn1 bn1 bn1 bn1 bn1 bn1 bn1 bn1" minmax(8em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        "tm1 tm1 tm1 tm1 tm2 tm2 tm2 tm2 tm3 tm3 tm3 tm3" minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
        "ct1 ct1 ct1 ct1 ct1 ct1 ct1 ct1 ct1 ct1 ct1 ct1" minmax(4em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        "ci1 ci1 ci1 ci2 ci2 ci2 ci3 ci3 ci3 ci4 ci4 ci4" minmax(8em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(1em, auto)
        "ci5 ci5 ci5 ci6 ci6 ci6 ci7 ci7 ci7 ci8 ci8 ci8" minmax(8em, auto)
    }
}
